.menuSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: var(--babyblue);
    padding-top: 80px;
}

.menuSectionHeading {
    color: var(--maroon);
}

.menuTopStripe {
    background: var(--maroon);
    width: 100%;
    height: 5px;
}

.menuSectionSubHeading {
    color: var(--babyblue);
    text-align: center;
    padding: 10px;
}

/* .menuSectionTextContainer {
    background: var(--maroon);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
} */
.menuBottomStripe {
    width: 100%;
    height: 5px;
    background: var(--white);
}

.menuSectionCard {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--babyblue);
    border-radius: 8px;
    padding: 20px;
    background: var(--white);
    height: fit-content;
}


.menuSectionTextContainer {
    background: var(--maroon);
    width: 100%;
    height: 1323px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-column-gap: 25px;
    grid-row-gap: 20px; */
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 1 / 2 / 4 / 3; }
    .div4 { grid-area: 3 / 3 / 4 / 4; }
    .div5 { grid-area: 3 / 4 / 4 / 5; }
    .div6 { grid-area: 1 / 3 / 2 / 4; }
    .div7 { grid-area: 1 / 4 / 3 / 5; }
    .div8 { grid-area: 3 / 1 / 4 / 2; }
    .div9 { grid-area: 2 / 3 / 3 / 4; }


.menuSectionCard h3 {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 15px;
}

.menuItemContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.menuItemContainer span{
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.menuItemDescriptionContainer {
    padding-bottom: 10px;
}

.menuItemDescriptionContainer p {
    font-size: 1.2rem
}