.heroMainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.heroTopStripe {
    background: var(--maroon);
    width: 100%;
    height: 5px;
}

.heroSectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--babyblue);
}

.heroSectionHeader h1 {
    color: var(--maroon);
    padding-top: 40px;
    padding-bottom: 30px;
}

.heroMainImageContainer {
    overflow: hidden;
    width: 100%;
    height: 350px;
}

.heroMainImg {
    width: 100%;
    border-radius: 8px;
}

.heroSectionSubHeader {
    background: var(--babyblue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 20px;
}

.heroSectionSubHeader h2 {
    color: var(--white);
}

.heroSectionLogo {
    width: 100px;
    height: 100px;
    animation-name: moveLogo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.HeroSectionCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    background: var(--maroon);
}

.heroBottomStripe {
    width: 100%;
    height: 5px;
    background: var(--white);
}

.HeroSectionCard {
    width: 225px;
    margin-bottom: 20px;
    padding: 10px;
    background: var(--white);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.HeroSectionCardImg {
    border-radius: 10px;
}

.HeroSectionCard h3{
    padding: 10px 0;
    color: var(--babyblue);
}

.HeroSectionCard p{
    padding: 10px 0;
}

.HeroSectionCard span{
    padding-bottom: 50px;
}

@keyframes moveLogo {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}