.contactSection {
    text-align: center;
    padding: var(--padding);
    padding-top: 150px;
}

.contactSection p {
    font-size: 1.8rem;
    padding: 15px 0;
}

.contactHoursMapSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.mapContainer {
    width: 100%;
    max-width: 600px;
    height: 600px;
    padding: var(--padding);
    padding-bottom: 100px;
}

.mapContainer iframe{
    border: 0;
}

.contactHours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--maroon);
}

.contactHours span{
    font-size: 1.8rem;
}