.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.contactSectionHeader {
    background: var(--babyblue);
    width: 100%;
    text-align: center;
}

.contactSectionHeader h1 {
    color: var(--maroon);
    padding: 30px 0;
}

.contactSectionHeader p {
    font-size: 1.8rem;
    padding: 5px 0;
    color: var(--white);
}

.contactSectionHeader p + p{
    margin-bottom: 20px;
}

.contactSectionHeaderLine {
    background: var(--maroon);
    height: 5px;
}

.contactHoursMapSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    background: var(--maroon);
    width: 100%;
    padding: 50px 0;
}

.contactHoursMapSectionline {
    background: var(--white);
    height: 5px;
}

.mapContainer {
    width: 100%;
    max-width: 600px;
    height: 400px;
    padding: 10px;
    border: 2px solid var(--white);
    border-radius: 8px;
}

.mapContainer iframe{
    border: 0;
}

.contactHours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white);
}

.contactHours span{
    font-size: 1.8rem;
}