.footerContainer {
    width: 100%;
    background: var(--seafoam);
    border-radius: 8px 8px 0 0;
    position: static;
    bottom: 0;
    z-index: 1;
    padding: var(--padding);
    padding-top: 15px;
    padding-bottom: 15px;
    height: fit-content;
}

.footer {
    max-width: var(--maxWidth);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
}

.footerLogo {
    font-size: 2.2rem;
    color: var(--maroon);
}

.footerAddress {
    display: flex;
    gap: 20px;
}

.footerAddress a {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--maroon);
}

.footerAddress a:hover {
    color: var(--babyblue);
    transition: .3s ease-in-out;
}

.footerHours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--maroon);
    font-size: 1rem;
}

.footerSocials {
    display: flex;
    gap: 20px;
}

.footerSocialLink {
    cursor: pointer;
    font-size: 3.8rem;
    color: var(--maroon);
}

.footerSocialLink:hover {
    color: var(--babyblue);
    transition: .3s ease-in-out;
}

@media  screen and (max-width: 768px) {
    .footer {
        height: fit-content;
        flex-direction: column;
        gap: 10px;
    }

    .footerLogo {
        font-size: 2.6rem;
    }

    .footerAddress a {
        font-size: 1.4rem; 
    }

    .footerSocialLink {
        font-size: 1.4rem;
    }
}